In [138]:
import pandas as pd
import numpy as np

In [139]:
money_train = pd.read_csv('qiwi_money_out_data_train.csv', encoding='windows-1251', delimiter=';')
#money_train[:3]
answer_train = pd.read_csv('qiwi_users_profile_data_train.csv', encoding='windows-1251', delimiter=';')
answer_train[:3]

   user_id  sex  age university  graduation_year
0        1  Муж   26       МАТИ           2012.0
1        2  Муж   36      ТулГУ           2003.0
2        3  Муж   33      ЮРГТУ           2006.0

In [140]:
money_train['category'].value_counts()[:3]
#20

Сотовая связь    24253
Интернет         12523
Онлайн игры       8783
Name: category, dtype: int64

In [145]:
k = 10
categories = money_train['category'].value_counts().keys()
category_counts = len(categories)
dict_users_buys = {}
for ind, row in money_train.iterrows():
    people_id = row['user_id']
    category_name = row['category']
    payment = row['payment']
    if (not people_id in dict_users_buys.keys()):
        dict_users_buys[people_id] = dict.fromkeys(categories[:k], 0)
    if (category_name in dict_users_buys[people_id].keys()):
        dict_users_buys[people_id][category_name] += payment 
#dict_users_buys

In [147]:
trainX = []
trainY = []
for key, value in dict_users_buys.items():
    indY = key
    if (list(answer_train[answer_train.user_id == indY].sex)[0] == 'Муж'):
        trainY.append(1)
    else:
        trainY.append(0)
    res = []
    for i in categories[:k]:
        res.append(value[i])
    trainX.append(res)
#trainY

In [148]:
from sklearn.linear_model import LinearRegression 
tree = LinearRegression(normalize=True)
tree.fit(trainX, trainY)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [151]:
train_predict = tree.predict(trainX)
mis = 0
mmm = 0
for i in range(3305):
    mis += abs(train_predict[i] - trainY[i])
    mmm += trainY[i]
print(mis / 3305)
print(mmm / 3305)

0.344214750348
0.7655068078668684

In [136]:
money_test = pd.read_csv('qiwi_money_out_data_test.csv', encoding='windows-1251', delimiter=';')
money_test = money_train[:30000]
#money_train[:3]
answer_test = pd.read_csv('qiwi_users_profile_data_test.csv', encoding='windows-1251', delimiter=';')
answer_test[:3]

   user_id       university  graduation_year
0        4      МГТУ "МАМИ"           2010.0
1        6  ИГЭУ им. Ленина           2002.0
2       10              РУК           2001.0

In [137]:
k = 20
categoriesY = money_test['category'].value_counts().keys()
category_countsY = len(categoriesY)
dict_users_buysY = {}
for ind, row in money_test.iterrows():
    people_id = row['user_id']
    category_name = row['category']
    payment = row['payment']
    if (not people_id in dict_users_buysY.keys()):
        dict_users_buysY[people_id] = dict.fromkeys(categoriesY[:k], 0)
    if (category_name in dict_users_buysY[people_id].keys()):
        dict_users_buysY[people_id][category_name] += payment 
#dict_users_buys
testX = []
testY = []
for key, value in dict_users_buysY.items():
    indY = key
    if (list(answer_test[answer_test.user_id == indY].sex)[0] == 'Муж'):
        testY.append(1)
    else:
        testY.append(0)
    res = []
    for i in categoriesY[:k]:
        res.append(value[i])
    testX.append(res)
#trainY

AttributeError: 'DataFrame' object has no attribute 'sex'