In [2]:
import pandas as pd
import numpy as np

In [14]:
money_train = pd.read_csv('qiwi_money_out_data_train.csv', encoding='windows-1251', delimiter=';')
money_train[:3]

  category date_month  txn_count  payment  user_id
0      QVV    2016-06          2     3900     3142
1      ЖКУ    2016-06          1      150     3142
2      ЖКУ    2016-08          1      300     3142

In [22]:
money_train['category'].value_counts()[:3]
#20

Сотовая связь    24253
Интернет         12523
Онлайн игры       8783
Name: category, dtype: int64